@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Outfit:wght@100..900&display=swap');

/* 
    font-family: "Outfit", sans-serif;
    font-family: "Matemasie", sans-serif;
 */

*{
    margin: 0;
    padding: 0;
 }

.center{
    align-items: center;
    justify-content: center;
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.gap-2{
    gap: 2rem;
}
.gap-1{
    gap: 1rem;
}

.space-between{
    justify-content: space-between;
}


body{
    background-color: rgb(14, 13, 13);
    background-size: cover;
    background-repeat: none;
    font-family: "Outfit", sans-serif;
    color: white;
}

section{
    height: 100vh;
    margin-top: 3rem;
}
/*******************
NavBar
*********************/

.logo{
    font-family: "Matemasie", sans-serif;
}
header{
    display: flex;
    height: 3rem;
    width: 100vw;
    position:fixed;
    top: 0;
    background-color: rgb(17, 17, 17);
    justify-content: space-evenly;
    align-items: center;
  
}
a{
    text-decoration: none ;
    color: white;
}
a:hover{
    color:lightcoral;
}

.logo:hover{
     color: lightblue;
}

/*******************
 Main Page 
 ******************/

.landing h1{
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.grid, .grid-2{
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
    flex: 2;
    width: 60vw;
   
}

.btn{
    height: 2rem;
    padding: 0 1rem;
    background-color: lightblue;
    color: black;
    border-radius: 15px;
}


main{
    width: 95%;
    margin: 0 auto;
}

.box img{
    width: 100%;
}
.box{
    border-radius: 10px;
    height: 43vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content{
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.box-2{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.75)),url(https://images.pexels.com/photos/6192180/pexels-photo-6192180.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.box-3{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.75)),url(https://images.pexels.com/photos/542556/pexels-photo-542556.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.box-4{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.75)),url(https://images.pexels.com/photos/1670732/pexels-photo-1670732.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.box-5{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),url(https://images.pexels.com/photos/30053535/pexels-photo-30053535/free-photo-of-rural-life-scene-in-cameroon-with-child-and-motorcycle.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.box:hover{
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
}
.full{
    flex: 1;
   min-width: 40%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),url(https://images.pexels.com/photos/2301285/pexels-photo-2301285.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.full img{
    width: auto;
    height: auto;
}
.full{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: .5rem 0;
    gap: .5rem;
}

/*******************
 Featured Section 
********************/

.latest{
    padding: 1rem 0;
    height: 70vh;
}
.featured {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.box-item{
    overflow: hidden;
    max-width: 27vw;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: black;
    padding: 0.5rem;
    text-align: center;
}
.box-item img{
    border-radius: 15px;
}

/*************************
 all blog posts 
 **********************/

.allBlogs{
    flex-direction: column;
    height: auto;
    gap: 1rem;
}
.blogs-container{
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.blog-item{
    padding: 1rem;
    background-color:rgb(29, 28, 28) ;
    max-width: 30vw;
    height: 60vh;
    border-radius: 15px;
    flex-direction: column;
}
.blog-item img{
    max-width: 28vw;
    border-radius: 15px;
}

/**************************** 
COntact us and about us pages 
******************************/

.landing-page{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./images/doodles.jpg);
    background-size: cover;
}

.main-body{
    display: flex;
    gap: 1rem;
}

.main-body img{
    max-height: 85vh;
    border-radius: 15px;
}
.form, .about-content{
    width: 50vw;
    padding: 1rem 2rem;
}
form{
    gap: 1rem;
    display: flex;
    flex-direction: column;

}

input{
    height: 2rem;
    border: 1px solid lightblue;
    border-radius: 5px;
}


/****************
 Footer 
 ****************/

 footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: lightcoral;
    justify-content: space-evenly;
 }

/******************
 Media responsiveness 
 **********************/

 @media screen and (max-width:765px) {
    nav a{
        display: none;
    }
   section{
    height: 150vh;
   }

   header{
    justify-content: space-between;
    padding:0 2rem;
   }
   
   .blogs-container{
  
    grid-template-columns: 1fr 1fr ;
    
}
.featured {
    grid-template-columns: 1fr 1fr;
    height: auto;
    padding: 2rem 0;
}

.box-item{

    max-width: 47vw;
}

.featured-p{
    display: none;
}
 }

 @media screen and (max-width:550px) {
    .box-4,.box-5{
        display: none;
    }
    .grid{
        grid-template-columns: 1fr;
    }

    main h1{
        font-size: .5rem;
    }
    .content-p{
        display: none;
    }

    .blogs-container{
    
        grid-template-columns: 1fr;
       
    }
    .blog-item{
        
        max-width: 90vw;
        
    }
    .blog-item img{
        height: 30vh;
        max-width: 90%;
        border-radius: 15px;
    }
 }